<html>
<head>
    <title>Hospital</title>
    <link rel = "stylesheet"
    href = "../Hospital/ext/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all.css">
    <script src = "../Hospital/ext/build/ext.js"></script>

<script>

Ext.syncRequire(['Ext.app.Application']);

Ext.application(
{
    name: 'Hospital',
    appFolder: 'Hospital/app',
    controllers: ['Routing'],

    models: [
    'Pacient', 'Doctor', 'Analysis'],

    views: [
    'admin.Admin', 'basegrid.View', 'doctor.View', 'main.Main', 'pacient.View'],

    autoCreateViewport: 'Hospital.view.main.Main'
})
</script>

</head>
<body></body>
</html>