<html>
<head></head>
<body>
	<p style = "font-size: 192px; text-align: center;">¯\_(ツ)_/¯</p>
	<h2 align = "center">Что-то пошло не так...</h2>
	<h2 align = "center"><%= message %></h2>
</body>
</html>