.icon-add
{
	background-image: url(../images/add.png) !important;
}

.icon-delete
{
	background-image: url(../images/delete.png) !important;
}

.icon-save
{
	background-image: url(../images/disk.png) !important;
}

.icon-load
{
	background-image: url(../images/arrow_refresh.png) !important;
}