<h3>Создать</h3>
<form method="post" action="/posts/new">
  <label for="title"><strong>Название:</strong></label>
  <input id="title" type="text" name="title" value="" style="width: 250px;">
  
  <label for="body"><strong>Тело страницы:</strong></label>
  <textarea id="body" name="body" style="height: 250px;"></textarea>
  
  <input type="submit" name="submit" value="Создать">
</form>
